html {
    font-size: 100%;
}

* {
    padding: 0%;
}

body {

    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;

    text-align: center;
    padding: 1rem 3rem 3rem;
    background-image: url(./raindrops-3216609_1920.jpg);
}

nav {
    background-color: rgb(53, 46, 53);
    border-radius: 10px;

}

.top-nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    justify-content: space-evenly;


}

.top-nav li {

    font-weight: bold;
    background-image: url(./lakeTexture.jpg);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;




}


header {
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Bebas Neue',
        cursive;
    font-size: 4rem;

}

.box {
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.box-1 {
    background-color: rgb(184, 169, 199);

}

.box-2 {
    background-color: rgb(117, 151, 117);
}

.box-3 {
    background-color: rgb(91, 120, 136);
}

.box-4 {
    background-color: rgb(92, 148, 145);
}


img {
    max-width: 100%;
    border-radius: 20px;

}

ul {
    list-style: none;
}


a {
    text-align: center;
    color: black;
}

.link {
    color: rgb(230, 20, 55);
}

a:link {
    color: rgb(192, 31, 165);
}

a:hover {

    color: rgb(173, 171, 46);
}



@media (max-width: 769px) {
    /* STYLES HERE */
}

/* -------responsive part-------- */

/* Small devices */
/* @media only screen and (max-width: 600px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex-basis: 100%;
        height: 10rem;
        flex-grow: 1;
    }
} */

/* Medium devices 
@media only screen and (min-width: 601px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex-basis: 33.33%;
        height: 10rem;
        flex-grow: 1;
    }

    #box-1,
    #box-2,
    #box-5,
    #box-6 {
        flex-basis: 100%;
        height: 10rem;
        flex-grow: 1;
    }

}

/* Large devices   */
/* @media only screen and (min-width: 801px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex-basis: 33.33%;
        height: 10rem;
        flex-grow: 1;
    }
.top-nav {}

    #box-1,
    #box-2,
    #box-5,
    #box-6 {
        flex-basis: 50%;
        height: 10rem;
        flex-grow: 1;
    }

} */